// Header
.header-camp {
  .wrap {
    .left {
      .logo-img {
        .logo {
          height: 80px;
        }
      }
    }

    .right {
      flex: 1;

      .menu-list {
        .menu-item {
          cursor: pointer;
          @include anim;
        }
      }

      .btn-connect {
        height: 60px;
        width: 210px;
        background-image: url("../../../public/images/btn-border.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include anim;

        // @include media("<=phoneH") {
        &:hover {
          background-image: url("../../../public/images/btn-border-hover-2.png");

          label {
            color: #000;
          }

          svg {
            path {
              fill: #000;
            }
          }
        }

        // }
      }
    }
  }
}